/* th {
  font-size: 10px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

td {
  font-size: 10px !important;
  height: 40px !important;
  padding: 2px 0px !important;
}

tr {
  font-size: 10px !important;
} */

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-n6ggqp-MuiTableCell-root {
  padding: 2px 16px !important;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-7ffvvi-MuiTableCell-root {
  padding: 2px 16px !important;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-1lcj0dn-MuiTableCell-root {
  padding: 2px 16px !important;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-1342b75-MuiTableCell-root {
  padding: 2px 16px !important;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-1exiv9-MuiTableCell-root {
  padding: 2px 16px !important;
  width: 200px !important;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-cb5xud-MuiTableCell-root {
  padding: 2px 16px !important;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-1w7dwre-MuiTableCell-root {
  padding: 2px 16px !important;
}

.MuiTableCell-root.MuiTableCell-head.MuiTableCell-stickyHeader.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-1mngai9-MuiTableCell-root {
  width: 200px !important;
}
/* 
MuiTableCell-root MuiTableCell-body MuiTableCell-alignLeft MuiTableCell-sizeMedium css-1exiv9-MuiTableCell-root */
